.jumbotron {
    position: fixed;
    background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8) ), #000 url("../foodpic.jpg") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

#imaginary_container{
    margin-top:10%; /* Don't copy this*/ 
}


.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.type{
    margin-top: 10%;
    color: rgb(255,255,255);
    font-family: 'Lobster', cursive;
    font-size: 300%;
}