{% extends "index.html" %}

{% block body %}
<div id="bg-right"></div>
<div id="bg-center">
  <br><br>
  <div align="center">
    <iframe src={{mapSrc}} width="800" height="350" style="border: none"></iframe>
  </div>
  <br><hr><br>
  <div id="container" class="type2">
    <div style="margin-left: 10%" align="center">
      <div style="font-size: 80%">
	Route 1 <hr>
      </div>
      {{route1|safe}}
    </div>
    {% if route2 != route1 %}
    <div style="margin-right: 10%" align="center">  
      <div style="font-size: 80%">
	Route 2 <hr>
      </div>
      {{route2|safe}}
    </div>
      {% endif %}
    <div>
      {% if route3 != route2 and route3 != route1 %}
      <div style="margin-right: 10%" align="center">  
	<div style="font-size: 80%">
	  Route 3 <br>
	</div>
	{{route3|safe}}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
