<!DOCTYPE HTML>

<html>

  <head>
    <title>{% block title %}home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>

  </head>

  <body>
    {% block body %}
    <div class="jumbotron">
      
      <!--title logo-->
      <div class="type">
	<h1 align="center">foodo</h1>
      </div>
      
      <!--search bar-->
      <div class="container">
	<div class="row">
          <div class="col-sm-6 col-sm-offset-3">
	    <form method="POST">
	      <div id="down10">
		<input name="userLocation" type="text" class="form-control" placeholder="Your Location">
	      </div>
	      <div class="type2" id="down3">
		<div id="container">
		  <div>
		    <input name="transMethod" type="radio" value="transit">
		    Public Transport
		  </div>
		  <div>
		    <input name="transMethod" type="radio" value="driving">
		    Driving 
		  </div>
		  <div>
		    <input name="transMethod" type="radio" value="walking">
		    Walking 
		  </div>
		  <div >
		    <input name="transMethod" type="radio" value="bicycling">
		    Biking
		  </div>
		</div>
	      </div>
	      <div id="down3" align="center">
		<input class="btn" name="button" type="submit" value="Set Location and Transit Method">
	      </div>
	      <div id="down7">
		<input name="food" type="text" class="form-control"  placeholder="I'm craving..." >
	      </div>
	      <div id="down7" align="center">
		<input class="btn btn-success btn-lg" name="button" type="submit" value="Search">
	      </div>
	    </form>
	  </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
</body>

</html>
