{% extends "index.html" %}

{% block body %}
<div id="bg-right"></div>
<div id="bg-center">
  <div class="type2" align="center">
    <br>
    {% if restaurants %}

    {% for place in restaurants %}
    <form method="POST" action="../../redirectpage">
    <div style="font-size:150%">
      <input name="button" type="submit" value="{{place}}" class="btn-invis">
      <input name="placeName" type="hidden" value="{{place}}" class="btn-invis">
    </div>
    <input name="placeLocation" type="hidden" value="{{restaurants[place][0]}}">{{restaurants[place][0]}}
    <br>
    Rating: {{restaurants[place][1]}}
    <br><hr>
    </form>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
